{% extends 'base.html' %}

{% load static %}

{% block title %}Create Products{% endblock %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/favicon/favicon1.ico' %}">
{% endblock %}

<!-- Header -->
{% block header_title %}
<h1 class="display-4 fw-bolder">Create Products</h1>
{% endblock %}
{% block header_subtitle %}
<p class="lead fw-normal text-white-50 mb-0">
    Create a Beautiful Product...
</p>
<i class="fa-solid fa-arrow-down text-white-50 mb-0"></i>
{% endblock %}

{% block content %}
<div class="container mb-3 mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mb-5">
                <div class="card-header text-center">
                    <strong>Create New Product</strong>
                </div>
                <div class="card-body bg-light shadow p-4 rounded">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                
                        <div class="d-flex justify-content-between mt-4">
                            <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-success">Create Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}