{% extends 'base.html' %}

{% load static %}

{% block title %}Update Info{% endblock %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/favicon/favicon1.ico' %}">
{% endblock %}

<!-- Header -->
{% block header_title %}Update Your Informations{% endblock %}
{% block header_subtitle %}
<p class="lead fw-normal text-white-50 mb-0">
   Set Up Your Info
</p>
<i class="fa-solid fa-arrow-down text-white-50 mb-0"></i>
{% endblock %}

{% block content %}
<!-- Section-->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST" action="{% url 'update_info' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <strong>Billing Information:</strong>
                </div>
                <div class="mb-5">
                    {{ info_form.as_p }}
                </div>

                <div class="mb-3">
                    <strong>Shipping Information:</strong>
                </div>
                <div>
                    {{ shipping_form.as_p }}
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-secondary mb-5 mt-3">Save Info</button>
                </div>    
            </form>
        </div>
    </div>
    <div class="text-center mb-5">
        <a href="javascript:history.back()" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i> Go Back
        </a>
    </div>
</div>
{% endblock %}
<!-- /home/siisi/e-commerce/store/templates/update_info.html -->