{% extends 'base.html' %}

{% load static %}

{% block title %}Billing Info{% endblock %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/favicon/favicon.ico' %}">
{% endblock %}

<!-- Header -->
{% block header_title %}<h1 class="display-4 fw-bolder">Billing Info</h1>{% endblock %}
{% block header_subtitle %}
<p class="lead fw-normal text-white-50 mb-0">
    Enter Your Payment Info... .
</p>
<i class="fa-solid fa-arrow-down text-white-50 mb-0"></i>
{% endblock %}

{% block content %}
<!-- Section-->
<div class="container mb-5 mt-5">
    <div class="row mb-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-center">
                    <strong>Order Summary</strong>
                </div>
                <div class="card-body">
                    {% for product in cart_products %}
                        {{ product.name }}:
                        {% if product.is_sale %}
                            ${{ product.sale_price }}
                        {% else %}
                            ${{ product.price }}
                        {% endif %}

                        <br>
                        <small>
                            Quantity:
                            {% for key, value in quantities.items %}
                                {% if key == product.id|stringformat:"s" %}
                                    {{ value }}
                                {% endif %}
                            {% endfor %}
                        </small>
                        <br>
                        <hr>
                    {% endfor %}
                    <h6>Total: ${{ totals }}</h6>
                    <div class="text-center">
                        <a href="{% url 'cart_summary' %}" class="btn btn-outline-secondary btn-sm">
                            Update Items
                        </a>
                    </div>
                </div>
            </div>

            <div class="card mb-5 mt-5">
                <div class="card-header text-center">
                    <strong>Shipping Info</strong>
                </div>
                <div class="card-body">
                    <p>Name: {{ shipping_info.shipping_full_name }}</p>
                    <hr>
                    <p>Email: {{ shipping_info.shipping_email }}</p>
                    <hr>
                    <p>Address 1: {{ shipping_info.shipping_address1 }}</p>
                    <hr>
                    <p>Address 2: {{ shipping_info.shipping_address2 }}</p>
                    <hr>
                    <p>City: {{ shipping_info.shipping_city }}</p>
                    <hr>
                    <p>State: {{ shipping_info.shipping_state }}</p>
                    <hr>
                    <p>Zipecode: {{ shipping_info.shipping_zipcode }}</p>
                    <hr>
                    <p>Country: {{ shipping_info.shipping_country }}</p>
                    <hr>
                </div>
                <div class="text-center mb-3">
                    <a href="{% url 'checkout' %}" class="btn btn-outline-secondary btn-sm">
                        Update Shipping
                    </a>
                </div>
            </div>

            <div class="card mt-5">
                <div class="card-header text-center">
                    <strong>Billing Info</strong>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'process_order' %}">
                        {% csrf_token %}
                        {{ billing_form.as_p }}
                        <div class="text-center mb-3">
                            <a href="{% url 'checkout' %}" class="btn btn-outline-secondary btn-sm">
                                Update Billing
                            </a>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">
                                Pay Now
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-3">
        <a href="javascript:history.back()" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i> Go Back
        </a>
    </div>
</div>
{% endblock %}

<!-- /home/siisi/e-commerce/payment/templates/payment/billing_info.html -->